.w-3-2{
    position: absolute;
    width: calc(100% - 400px);
}
.w-3-1{
    position: absolute;
    width: 400px;
    left: calc(100% - 400px);
}

.h-1-1{
    height: 100%;
    background-color: white;
}

.left-grid{
    border-left: solid 1px lightgray;
}
.right-grid{
    border-right: solid 1px lightgray;
}
.top-grid{
    border-top: solid 1px lightgray;
}
.bottom-grid{
    border-bottom: solid 1px lightgray;
}
.wPanel{
    display: inline-block;
}