*{
    box-sizing: border-box;
}

div, span{
    user-select: none;
}

.searchBar{
    display: inline-block;
    position: fixed;
    width: 700px;
    height: 26px;
    margin: 8px;
    padding-left: 15px;
    color: white;
    transform: translate(-50%,0px);
    background-color: rgba(157,106,158,0.5);
    border-width: 0px;
    border-radius: 5px;
}

.direct-row>*{
    display: inline-block;
}

.mdIcon{
    display: inline-block;
    border-width: 0px;
    outline-width: 0px;
    width: 26px;
    height: 26px;
    margin: 8px;
    margin-right: 5px;
}

.avatarIcon{
    display: inline-block;
    position: fixed;
    margin-top: 7px;
    top: 0px; left: 45px;
    height: 37px;
    width: 37px;
    background-color: transparent;
}
.helpIcon{
    display: inline-block;
    position: fixed;
    
    height: 20px;
    width: 20px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    margin: 15px 10px;
}


.NavBar{
    display: block;
    position: fixed;
    width: 100%;
    height: 44px;
    background-color: #39063a !important;
    z-index: 2;
}

.rightPanel{
    top: 44px;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    padding-left: 260px;
}

.leftContent{
    font-weight: 500;
    display: block;
    padding: 5px 5px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: left;
    background-color: #39063a;
}

.leftPanel{
    top: 44px;
    position: absolute;
    left: 0px;
    width: 260px;
    height: 100%;
}

.rightContent{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #f5f5f5;
}



.rightNavPanel{
    top: 0px;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    padding-left: 150px;
}

.leftNavContent{
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background-color: #39063a;
}

.leftNavPanel{
    top: 0px;
    position: absolute;
    left: 0px;
    width: 150px;
    height: 100%;
}

.rightNavContent{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #39063a;
    color: white;
}

.menuItem
{
    min-height: 40px;
    border-top: 1px solid rgba(157,106,158,0.4);
    color: rgba(255,255,255,0.6);
    padding-top: 10px;
}

.menuItem .collapseItem{
    cursor: pointer;
}

.menuItem icon{
    display: inline-block;
    text-align: center;
    width: 20px !important;
}

.collapseItem{
    padding: 5px 13px;
    width: 100%;
}
.collapseItem:hover{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}
.activeItem{
    background-color: rgba(255,255,255,0.2) !important;
    border-radius: 5px;
}

.closeMenuBtn{
    float: right;
    background-color: transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: auto;
    padding-top:7px;
    text-align: center;
    margin-top: -6px;
    cursor: pointer;
    display: none;
}

.menuToggle{
    display: none;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.menuToggle:hover{
    margin-left: 1px;
}

.activeMenu{
    display: block !important;
}
/* Responsive */

@media only screen and (max-width: 1200px) {
    .w-3-2{ min-width: 500px; }
    .w-3-1{ width: calc(100% - 500px) !important;  left: 500px !important}
}

@media only screen and (max-width: 1100px){
    .closeMenuBtn{display: block;}
    .menuToggle{ display: inline-block !important;}
    .rightNavPanel{ left: 120px !important;}
    .rightPanel{ padding-left: 0px !important;}
    .leftPanel{display:none; position: fixed;}
    .w-3-2{ min-width: 700px; }
    .w-3-1{ min-width: 300px !important; width: calc(100% - 700px) !important;  left: 700px !important}
}