.p-workspace-header,
.p-workspace-section{
    width: 100%;
    height: 50px;
    padding: 13px 20px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    display: block;
}

.p-workspace-section{
    border-right-width: 0px;
    font-weight: normal;
    color: gray;
}
.p-workspace-container{
    display: block;
    width: 100%;
    color: black;
    padding: 25px 20px;
    font-size: 15px;
    
}

.p-profile-container{
    display: block;
    padding: 15px 25px;
    background-color: white;
    color: black;
    width: 100%;
}
.btn-small,
.btn-primary{
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    width: 45%;
    border: 1px solid gray !important;
    padding: 5px 0px;
    text-align: center;
}
.btn-small{
    width: 10%;
}
.btn-primary:hover{
    background-color: transparent;
    background-color: #eee;
    color: black;
}

.p-profile-container span{
    font-size: 16px;
    margin-left: 15px;
}

.fs-small{
    font-size: 16px;
}