.MainBoard{
  display: block;
  background-color: #141518;
  padding: 0 0;
  margin:  0 0;
  width: 103%;
  
}
.App{
}

.MainBoard *{
  word-spacing: 5px;
  font-family: "Manrope";
  line-height: 26px;
  background-size: cover;
}

.content-advertising{
  position: relative;
  padding-top: 234px;
  padding-left: 11%;
  display: block;
  height: auto;
}
.createWallet{
  position: relative;
  display: inline-block;
  width: 679px;
  height: 453px;
  padding: 0 0;
  margin: 0 0;
}
.viewWMS{
  position: relative;
  display: inline-block;
  width: 576px;
  height: 380px;
  float: right;
}

.secureBoard{
  width: 259px; 
  height: 416px; 
  background-color: #2A2B31; 
  border-radius: 34px;
  display: block;
  color: white;
  padding: 41px;
  margin: 0px;
  
}
.myWallet{
  padding: 34px;
  display: flex;
  position: relative;
  width: 250px;
  height: 182px;
  margin-left: 80px;
  margin-top: -150px;
  border-radius: 45px;
  color: white;
  background: linear-gradient(132.45deg, rgba(126, 126, 126, 0.4) 3.01%, rgba(126, 126, 126, 0) 107.67%);
  backdrop-filter: blur(4.5px);
}

.marcketItem{
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
.bd-bottom{
  border-bottom: 1px solid gray;
}


.c-w-info{
  font-family: "Manrope";
  font-weight: bold;
  font-size: 72px;
  font-style: normal;
  line-height: 81px;
  color: white;
}
.alCenter{
  display: flex; 
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
.ft-bold{
  font-weight: bold;
}
.w-info{
  left:25px;
  text-align: left;
  height: 140px;
  font-style: normal;
  line-height: 35px;
  font-weight: 400;
  color:#F5F2EA;
  opacity: 60%;
  font-size: 28px;
  padding-right: 80px;
}

.navbar{
  position: absolute;
  height: 160px;
  width: 104%;
  display: block;
  z-index: 1000;
}
.mobilenavbar{
  position: fixed;
  height: 160px;
  width: 100%;
  float:right;
  text-align: right;
  display: none;
  z-index: 1000;
}
.mobileMenuContainer{
  position: absolute;
  height: 150px;
  width: 100%;
  text-align: right;
  display: none;
  z-index: 1000;
}
.MobileNavbarMenuBtn:hover{
  width: 30px;
  height: 30px;
}
.mobileMenuBtn{
  cursor: pointer;
  padding: 5px 20px;
  padding-right: 0px;
  width: 100%;
  height: 25px;
  text-align: left;
  color: #333333;
  background-color: white;
  box-shadow: 0px 1px 3px white;
  margin-bottom: 1px;
  border-left: 10px solid lightsalmon;
}
.mobileMenuBtn:hover{
  font-weight: bold;
  border-left: 10px solid lightskyblue;
  margin-left: -1px;
}
.mobileMenu{
  display: none;
  float:right;
  width: 150px;
  margin-right: 80px;
  margin-top: -5px;
}
.mobilenavbar img{
  margin-right: 50px;
  margin-top: 70px;
}

.btn-small{
  width: 30px;
  height: 40px !important;
}

.panel-header{
  display: block;
  position:relative;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 60px;
}
.panelTitle{
  font-size: 25px;
  text-align: center;
}

.panelContainer{
  background: rgba(47, 50, 65, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  width: 285px;
  height: 304px;
  min-width: 285px; 
  min-height: 304px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  color: white;
  align-items: center; 
}
.panelHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  background-color: rgba(255,255,255,0.1);

}
.pLogo{
  left: 10%;
  top: 37px;
  width: 116px;
  height: 109px;
}

.wLogo{
  left: 10.15%;
  top: 37px;
  width: 383px;
  height: 109px;
}

.navbar *{
  position: absolute;
  display: block;
  font-size: 16px ;
  line-height: 24px;
}

.navbar a{
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
}
.fc-white{
  color:white;
}
.ft-bold{
  font-size: 18px;
  font-weight:bold;
}
.signInBtn{
  border-radius: 49px;
  padding-top:31px;
  width: 172px;
  
  height: 55px;
  background-color: #CAFC01;
  text-align: center;
  color: #0c0c0c;
  
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-wrap{
  display:flex;
  flex-wrap: wrap;
}
.startingBtn{

}

.w-2-1{
  width: 55%;
}
.w-3-1{
  width:33.3%;
  height: 180px;
  padding: 5px 10px;
}
.pt-3{
  padding-top: 15px;
}
.mb-5{
  margin-bottom: 15px;
}
.plr-3{
  padding-left: 30px;
  padding-right: 30px;
}

.btn-outlined{
  width: 230px;
  height:80px;
  border: 1px white solid;
  color: white;
}
.btn-rounded{
  border-radius: 40px;
  border: 1px gray solid;
}

.contentCol{
  margin-left: 18px;
  text-align: left;
  display:flex;
  flex-direction: column;
}
.align-center{
  text-align: center;
  justify-content: center;
  align-items: center;
}


.font-crypto{
  background: linear-gradient(180deg, #CAFC01 44.79%, #327919 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.align-left{
  text-align: left;
  justify-content: left;
}
.wTemplate{
  width: 1200px;
}
.flexAlign-center{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn-large{
  width: 600px;
}
.btnc-green{
  background: linear-gradient(265.56deg, #CAFC01 -0.27%, #CAFC01 33.71%, #34A948 98.59%);
  color: black;
}

.cryptoItem{
  width: 285px; 
  height: 329px;
}
.cryptoIcon{
  width: 50px;
  height: 50px;
}
.mobilePayment{
  display: none;
}
div, img{
  z-index: 99;
}
.coinItem{
  width: 325px;
  backdrop-filter: blur(2px);
  background: rgba(47, 50, 65, 0.5);
}



.mobileWallet,
.mobileBack{
  display: none;
}

@media screen and (max-width: 1400px){
    .viewWMS { display: none; float:left}
    .coinItem{width: 40% !important;}
    .monkeyPic{ display: none;}
}

@media screen and (max-width: 1180px){
  
  .MainBoard{text-align: left; padding: 0px 35px; width: 95% !important;}
  .viewWMS { display: none; float:left}
  .navbar{display: none;}
  
  .mobileWallet{display: inline-block;}
  .createWallet{display: none;}
  .content-advertising{ padding-left: 0px; text-align: center;}
  .createWallet { width: 95% !important; text-align: center;}


  .storebtn, .googlebtn{width: 95%;}
  .panel-header{width: 95% !important;}
  .panelContainer{width: 95% !important; margin:0 !important; margin-top: 15px !important; border-radius: 0px !important; padding: 15px 200px !important;}
  .panel-Change{flex-direction: column;}

  .coinBoard{justify-content:start !important;}
  .coinItem{width: 95% !important; margin-top: 5px;}

  .cryptoIcon{ width: 150px !important; height:150px !important; margin-left: 5px;}
  .cryptoInform{ font-size: 25px !important; line-height: 70px;}
  .cryptoHeader{ font-size: 20px !important;} 
  .cryptoItem{ width: 95% !important; height: 350px !important; flex-direction: row !important;}
  .wTemplate{ width: 95% !important; margin: 0 !important;}
  .mobilePayment{display: block;}
  .appPayment{display: none;}
  .mobilenavbar{display: block;}
  .appBack{display: none;}
  .mobileBack{display: block;}
}
